.barrinha{
    background-color: #1E124A;
    width: 40px;
    height: 3px;
}

.h2{
    color: rgb(0 31 63 / var(--tw-text-opacity, 1));

}

.filtro{
    justify-content: end;
    display: flex;
    align-items: end;
    margin-bottom: 12px;
}

.selc-filt{
    border-radius: 99px;
    padding: 9px;
}