@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.fundoHeader {
    margin: 0px 0;
}

.loginadmbtn{
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    background-color: #042143;
    color: white;
    border-radius: 20px;
    padding: 10px 30px;
}


.nav {
    text-align: center;
    font-weight: bold;
    font-family: 'Minecraft', sans-serif;

}

nav a {
    letter-spacing: 2px;
    font-family: "Inter", sans-serif;
    color: #999999;
    padding: 33px;
    display: inline-block;
    transition: all 0.3s ease;
    font-weight: bold;
    text-decoration: inherit;
    font-size: 13px;
}

nav a:hover {
    color: #173660;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo img {
    width: 35px;
    height: auto;
}

.logo h1 {
    font-size: 25px;
    margin: 0;
    font-weight: 800;
}


.menuToggle {
    display: none;
}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 28px;
    height: 3px;
    background: #042143;
    display: block;
    border-radius: 2px;
    transition: 0.3s;
}


@media (max-width: 768px) {

    .hamburger {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        align-items: center;
        display: none;
        padding: 20px 0;
        box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    }

    .menu a {
        padding: 15px;
        width: 100%;
    }


    .menuToggle:checked + .hamburger + .menu {
        display: flex;
    }

    .menuToggle:checked + .hamburger span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menuToggle:checked + .hamburger span:nth-child(2) {
        opacity: 0;
    }

    .menuToggle:checked + .hamburger span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }

}
