
.header{
    padding-top: 23px;
    padding-bottom: 23px;
}

.h1_logo{
    font-size: 1.5rem;
    font-family: 'inter', sans-serif;
    font-weight: bold;
    color: var("--color-text--");
    margin-bottom: 0;
}

.img_logo{
    width: 25px;
    height: 25px;
}

.nav{
    gap: 1rem;
    text-transform: uppercase;
    color: rgb(107 114 128 ) !important;
    letter-spacing: 0.2em;

}

.buttom{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    --tw-bg-opacity: 1;
    background-color: rgb(0 31 63 / var(--tw-bg-opacity, 1));
    border-radius: 9999px;
}

.div_nav{
    align-items: center;
}

nav a:hover{
    color: #4a5057;
    font-weight: bold;
}
